Repository zzub-zzub-bak-sa/frontend, pull requests merged in 2024-03, with the labels that each got.

#41 [#39] post 관련 API 연결
  src/api/apis/folders.js
  src/api/apis/posts.js
  src/components/ContentScreen/ContentDeleteModal.jsx
  src/components/GalleryScreen/Grid.jsx
  src/components/HomeScreen/AddLinkBottomSheet.jsx
  src/components/HomeScreen/EditBottomSheet.jsx
  src/components/HomeScreen/Folder.jsx
  src/components/HomeScreen/FolderList.jsx
  src/components/share/AddLInkBottomSheets/AddTagBottomSheet.jsx
  src/components/share/AddLInkBottomSheets/AddToFolderBottomSheet.jsx
  src/components/share/AddTagBottomSheets/AddTagBottomSheets.jsx
  src/components/share/Create/CreateFolder.jsx
  src/components/share/SelectFolderBottomSheets.jsx
  src/pages/ContentScreen.jsx
  src/pages/GalleryScreen.jsx
  src/pages/HomeScreen.jsx
  src/pages/MyPageScreen.jsx
  src/pages/TrashBinScreen.jsx
Labels: 🔌 API

#43 [#36] 닉네임 변경 api 연결
  src/components/MyPageScreen/EditNicknameBottomSheet.jsx
  src/pages/MyPageScreen.jsx
Labels: 🔌 API

#45 [#42] tags와 search 관련 API 연결
  src/api/apis/posts.js
  src/api/apis/tags.js
  src/api/tmp.jsx
  src/components/HomeScreen/Folder.jsx
  src/components/HomeScreen/FolderCard.jsx
  src/components/HomeScreen/FolderList.jsx
  src/components/HomeScreen/SearchResults.jsx
  src/components/HomeScreen/TagCard.jsx
  src/components/base/FolderBox.jsx
  src/components/base/InputWithTag.jsx
  src/components/share/AddTagBottomSheets/AddTagBottomSheets.jsx
  src/pages/GalleryScreen.jsx
  src/pages/GallerySearchScreen.jsx
  src/pages/HomeScreen.jsx
Labels: ✨ Feature, 🔌 API

#46 [#44] 휴지통 관련 api 연결
  src/api/apis/posts.js
  src/pages/TrashBinScreen.jsx
Labels: ✨ Feature, 🔌 API

#47 [#28] RCTBridge warning 삭제
  index.js
  ios/mukkitLink/AppDelegate.mm
Labels: 🐛 BugFix
